extends ./layout/index

block contenido 
    main.container.mt-5
        h1.text-center.mt-5 #{pagina}

        blockquote.text-center Lee sobre nuestros clientes y sus experienzas 
        .row.testimoniales 
            //- porque en paginas controller mandamos todo los testimoniales para a la vista -//
            each testimonial in testimoniales
                .col-md-6.col-lg-4.mb-4
                    .card
                        .card-body
                            blockquote.blockquote
                            p.mb-0
                                | #{testimonial.mensaje}
                            footer.blockquote-footer 
                                | #{testimonial.nombre}

        .row
            .col-md-12
                h2.text-center Agrega un Testimonial

                //- p= JSON.stringify(errores)

                if(errores) 
                    each error in errores
                        .alert.alert-danger.text-center=error.mensaje
                .row.justify-content-center.col
                    .col-md-8
                        form(action="/testimoniales" method="post")
                            .form-group
                                label(for='nombre') Nombre
                                input#nombre.form-control(type='text', placeholder='Tu Nombre', name="nombre", value=nombre)
                            .form-group
                                label(for='correo') Correo Electrónico
                                input#correo.form-control(type='email', placeholder='Tu Correo Electrónico', name="correo", value=correo)
                            .form-group
                                label(for='telefono') Número de Teléfono
                                input#telefono.form-control(type='tel', placeholder='Tu Número de Teléfono', name="telefono", value=telefono)
                            .form-group
                                label(for='mensaje') Mensaje
                                textarea#mensaje.form-control(name="mensaje", rows=3, placeholder="Tu Mensaje")=mensaje
                            input.btn.btn-success.btn-block(type="submit")